<?php
$customData = $block->getCustomData();

echo '<div class="banner desktop"><a href="'.$customData['url'].'">'. $customData['desktop'] . '</a></div>';
echo '<div class="banner mobile"><a href="'.$customData['url'].'">'. $customData['mobile'] . '</div>';
?>

