.admin__scope-old {
    text-align: center;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}
.data-grid {
    border: none;
    font-size: 1.3rem;
    margin-bottom: 0;
    display: table-caption !important;
    overflow: auto !important;
}
.admin__data-grid-wrap {
    margin-bottom: 2rem;
    max-width: 100%;
    padding-bottom: 1rem;
    padding-top: 2rem;
    width: 100%;
    position: static !important;
    display: flex !important;
}