
.banner img {
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .desktop{
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
}
@media only screen and (min-width: 801px) {
    .desktop{
        display: block !important;
    }
    .mobile{
        display: none !important;
    }
}

